@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Felix Titling';
    src: url('/fonts/Felixi.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    :root {
        --primary: rgb(0, 0, 128);
        --primary-dark: #161843;
        --primary-light: rgb(33, 86, 200);
        --accent: rgb(120, 120, 117);
        --accent-light: rgb(234, 233, 236);
        --accent-brown: rgb(126, 120, 112);
        --accent-slate: #8494ac;
        --cta: rgb(252, 163, 17);
        --cta-hover: rgb(238, 125, 33);

        --font-title: 'Felix Titling';
    }
}
