@tailwind base;
@tailwind components;
@tailwind utilities;

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "Felix Titling";
  src: url("/fonts/Felixi.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --primary: rgb(0, 0, 128);
    --primary-dark: rgb(22, 24, 67);
    --primary-light: rgb(33, 86, 200);
    --accent: rgb(120, 120, 117);
    --accent-light: rgb(234, 233, 236);
    --accent-beige: rgb(223, 205, 181);
    --accent-brown: rgb(126, 120, 112);
    --accent-slate: rgb(132, 148, 172);
    --cta: rgb(252, 163, 17);
    --cta-hover: rgb(238, 125, 33);

    --font-title: "Felix";
  }
}

@layer theme {
  h1,
  h2,
  h3,
  .title {
    font-family: var(--font-title);
  }

  h1 {
    letter-spacing: 0.25rem;
    line-height: 1rem;

    @media (width > 990px) {
      letter-spacing: 0.5rem;
    }
  }

  h2 {
    letter-spacing: 0.25rem;
  }
}

@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
