---
import Layout from '../layouts/Layout.astro';
import AnimatedWrapper from '../components/AnimatedWrapper.astro';
import MainContent from '../components/MainContent.astro';
---

<Layout title="About Us">
  <MainContent class="max-w-4xl mx-auto bg-accent-light px-4 pt-8 pb-8">
    <AnimatedWrapper>
      <h1 class="text-4xl text-primary-dark font-bold text-center mb-12">About Us</h1>
    </AnimatedWrapper>

    <div class="max-w-4xl mx-auto">
      <AnimatedWrapper>
        <div class="space-y-6">
          <p>under construction...</p>
        </div>
      </AnimatedWrapper>
    </div>
  </MainContent>
</Layout> 