---
import Layout from "../layouts/Layout.astro";
import AnimatedWrapper from "../components/AnimatedWrapper.astro";
import MainContent from "../components/MainContent.astro";
---

<Layout title="About Us">
  <MainContent class="max-w-4xl mx-auto bg-accent-light px-4 pt-8 pb-8">
    <AnimatedWrapper>
      <h1 class="text-4xl text-primary-dark font-bold text-center mb-12">
        About Us
      </h1>
    </AnimatedWrapper>

    <div class="max-w-4xl mx-auto">
      <AnimatedWrapper>
        <div class="space-y-6">
          <p>
            Sedco Contracting is a Rutherford based construction company founded
            in 2003 originally specializing in interior projects. In 2021 we
            purchased a local commercial landscaping company which allows us to
            accommodate exterior hardscape projects, service an entirely new
            customer base, and aid in the existing remodeling company. Since our
            inception we have focused on efficiency in preparedness and
            procedures, competitive costs, quality in labor and materials, and
            customer service and communication. We continually strive to improve
            the aforementioned focus in order to provide the best customer
            experience regardless of which service of ours is requested.
          </p>
        </div>
      </AnimatedWrapper>
    </div>
  </MainContent>
</Layout>

