---
import Layout from "../layouts/Layout.astro";
import MainContent from "../components/MainContent.astro";
---

<Layout title="Facilities">
  <MainContent class="max-w-4xl mx-auto px-4 py-8 bg-accent-light pt-8 pb-8">
    <h1 class="text-4xl text-primary-dark font-bold mb-12">Facilities & Equipment</h1>
    <p class="text-primary-dark">
      In order to provide a consistent quality product efficiently, we believe it is essential to provide our teams with all the materials and equipment they need at their fingertips. As a result, each team has a truck specifically equipped with the tools and materials needed for their specialty. In addition, each team has daily access to Sedco's fully stocked warehouse, Sedco's support vehicles and machinery, Sedco's mason/landscape yard, and Sedco's wood-working shop.
    </p>
  </MainContent>
</Layout> 