---
import Layout from "../layouts/Layout.astro";
// custom
import Images from "../components/Images.astro";
import Hero from "../components/Hero.astro";
import MainContent from "../components/MainContent.astro";
import Review from "../components/Review.astro";
import AnimatedWrapper from "../components/AnimatedWrapper.astro";
import ContactForm from "../components/ContactForm.astro";
import Card from "../components/Card.astro";

const review = {
  title: "Kitchen Renovation",
  content:
    "I was very impressed with the work Sedco did on our kitchen. we absolutely love the new cabinets they installed for us and the tile work is flawless. Very professional and skilled workers!",
  signature: "Alex ",
};

const cards = [
  {
    title: "Commercial & Residential Remodeling",
    subtitle: "Sedco Contracting",
    body: "This is the body of card 1.",
    href: "#",
    imgHref: "https://placehold.co/300x200",
  },
  {
    title: "Commercial Landscaing & Snow Removal",
    subtitle: "Sedco Property Management",
    body: "This is the body of card 2.",
    href: "#",
    imgHref: "https://placehold.co/300x200",
  },
];
---

<Layout title="Welcome to Astro.">
  <MainContent class="pt-0 pb-0 mb-12 max-w-screen-xl mx-auto bg-white">
    <Hero />
    <!--     
    <section class="bg-accent-light text-center text-primary-dark p-8 w-full">
      <div class="max-w-screen-lg mx-auto">
       <h2 class="text-2xl mb-8"> We specialize in <span class="font-bold">affordable kitchens</span> and <span class="font-bold">bathrooms</span></h2>
        <p class="mb-8">Established in 2003, Sedco Contracting LLC provides construction and remodeling services for all residential and commercial sectors in Northern and Central New Jersey. We specialize in kitchen and bathroom renovation while offering a wide range of other home remodeling services such as home additions, basement remodeling, porches, and siding.</p>
        <a href="/services" class="bg-primary hover:bg-primary-light transition text-white inline-block text-lg font-bold p-4 pt-4 pb-4 rounded-lg border-2 border-white max-w-[320px]">More about our services</a>
      </div>
    </section>
     -->
<!--     
    <section class="py-12 px-4 bg-white text-primary-dark">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {
          cards.map((card) => (
            <div class="flex justify-center">
              <Card {...card} />
            </div>
          ))
        }
      </div>
    </section> -->

    <section class="p-4 sm:p-8 bg-white">
      <h1 class="text-2xl text-center font-bold text-primary-dark mb-8">
        Get In Touch!
      </h1>
      <p class="max-w-md mx-auto text-primary-dark text-center mb-8">
        We're still working on the rest of our site but in the meantime we're
        happy to answer any questions you have about our services. Fill out the
        form below and we'll get back to you as soon as possible!
      </p>
      <ContactForm />
    </section>
  </MainContent>
</Layout>
