---
import MainContent from '../components/MainContent.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Products">
	<MainContent class="max-w-4xl mx-auto bg-accent-light px-4 pt-8 pb-8">
		<div class="p-8 text-primary-dark">
			<h1 class="text-4xl font-bold mb-4">Products</h1>
			<p class="text-xl text-primary-dark">Under construction. Check back soon!</p>
		</div>
	</MainContent>
</Layout> 