---
import type { NavLink } from './Header.astro';
const { isOpen, navLinks } = Astro.props;
---

<div
  class={`fixed z-20 inset-0 bg-black bg-opacity-50 transition-opacity ${isOpen ? "opacity-100" : "opacity-0 pointer-events-none"}`}
  id="drawer-overlay"
>
</div>
<div
  class={`fixed z-50 top-0 right-0 w-64 bg-white h-full shadow-lg transform transition-transform ${isOpen ? "translate-x-0" : "translate-x-full"}`}
  id="drawer"
>
  <button class="absolute top-4 right-4 text-primary-dark" aria-label="toggle drawer" id="close-drawer">
    <!-- Close Icon -->
    <svg
      class="h-6 w-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  <nav class="mt-16 space-y-4 z-50">
    {navLinks.map((link: NavLink) => (
      <div>
        <a
          href={link.href}
          class="block px-4 py-2 text-primary-dark hover:underline"
        >
          {link.text}
        </a>
        {link.subnav && (
          <div class="ml-4 space-y-2">
            {link.subnav.map((sublink) => (
              <a
                href={sublink.href}
                class="block px-4 py-2 text-sm text-primary-dark hover:underline"
              >
                {sublink.text}
              </a>
            ))}
          </div>
        )}
      </div>
    ))}
  </nav>
</div>
