---
const currentYear = new Date().getFullYear();
---

<footer class="bg-primary-dark text-accent-light p-8 mt-auto w-full">
    <div class="container mx-auto text-center">
        <p>&copy; {currentYear} Sedco Companies. All rights reserved.</p>
    </div>
</footer> 